# See http://help.github.com/ignore-files/ for more about ignoring files.

# leave only .scss for styles
src/**/*.css

# dependencies
node_modules
bower_components

# testing
coverage

# production
dist
build
out
public/static
public/shared
public/assets
.tmp

# misc
.DS_Store
.env
npm-debug.log
.idea
