.zip-conflict-modal {

  div[data-anypoint-component="ModalBody"] {
    overflow: auto;
  }

  .zip-modal-header {
    display: flex;
    width: 100%;
    flex-direction: column;

    > small {
      margin-top: 5px;
    }
  }

  div[data-anypoint-component="ModalFooter"] {
    min-height: 70px;
  }
}
