.new-folder-button {
    background: url("./images/folder.png") no-repeat;
    background-size: 20px 20px;
    margin: 7px 5px 0 0;
}

.new-file-button {
    background: url("./images/plus.png") no-repeat;
    background-size: 25px 25px;
    margin: 5px 5px 0 0;
}

.save-file-button {
    background: url("./images/save.png") no-repeat;
    background-size: 25px 25px;
    margin: 5px 5px 0 0;
}

.new-file-button, .new-folder-button, .save-file-button {
    background-color: rgb(249, 250, 251);
    float: right;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.new-file-button:focus, .new-folder-button:focus, .save-file-button:focus {
    outline: none
}