.Editor {
    padding-top: 10px;
    overflow: auto;
}

.monaco-editor .suggest-widget > .tree {
    width: inherit;
    height: inherit;
    position: relative;
    background-color: inherit;
}

.monaco-list-rows {
    margin-right: 0;
}
