@import "../app/App.scss";

.InfoPanel {
  font-family: $large-font;
  white-space: normal;
  position: relative;

  pre {
    overflow: auto;
  }

  span.title-name {
    height: 25px;
    white-space: nowrap;
    padding-left: 20px;
    margin-right: 10px;
  }

  .InfoTitle {
    font-size: 18px;
    height: 50px;
    color: #58595a;
    background-color: #e8e9ea;
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 20;
  }

  .InfoPanelTabs {
    border-bottom: 2px rgba(39, 47, 51, .1) solid;
    margin-left: -20px;

    ul {
      margin: 0 0 5px;
    }

    li {
      width: 80px;
      margin: 0 17px;
      padding: 6px 10px 2px;
    }

    li:after {
      display: none;
    }
  }

  .InfoPanelTabContent {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .InfoPanelTabContent.Issues-Tab .Errors {
    padding-top: 10px;
  }
}