.InfoPanel {
  font-family: DIN Pro, sans-serif;
  margin-left: 20px;
  white-space: normal;
  height: 100%;
  position: relative;
}

.InfoPanelTabs {
  border-bottom: 2px rgba(39, 47, 51, .1) solid;
}

.InfoPanelTabs ul {
  margin: 0 0 5px;
}

.InfoPanelTabs li {
  width: 80px;
  margin: 0 17px;
}

.InfoPanelTabs li:after {
  display: none;
}

.InfoPanel pre {
  overflow: auto;
}

.InfoPanelTabContent {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
}