@import "../variables.scss";

.Errors {
  margin-left: 10px;
  margin-right: 10px;
  font-family: $small-font;

  .Counter {
    font-family: sans-serif;
  }

  &.No-errors, .Filter {
    text-align: center;
    color: #cacbcc;
  }

  ol {
    list-style: none;
    padding: 0;
  }

  li {
    padding-top: 2px;
  }

  span {
    vertical-align: top;
  }

  a {
    cursor: pointer;
    white-space: normal;
    display: inline-block;
  }

  ol.Root-errors {
    margin: 15px 2px;
  }

  ol.Trace-errors ol {
    margin-left: 15px;
  }

  ol.Root-errors > li {
    border-left: 2px #ff5959 solid;
    padding-left: 7px;
    margin: 7px 0;
    font-size: 12px;
  }

  ol.Root-errors > li.warning {
    border-color: #fff454;
  }

  .Filter {

    a {
      text-decoration: none;
      padding: 10px;
      color: #000;
      font-size: 13px;
      margin-left: 5px;
      margin-right: 5px;
    }

    a.toggled {
      color: #a6a7a7;
      border-bottom: 3px #a6a7a7 solid;
    }

    .Filter-errors {
      border-bottom: 3px #ff5a59 solid;
    }

    .Filter-warnings {
      border-bottom: 3px #eabf6a solid;
    }
  }
}