/* hide editor scrollbar and tab list active selector while dragging */
.Split.is-dragging .Editor .decorationsOverviewRuler, .Split.is-dragging [data-anypoint-component="TabList"] > div {
  display: none !important;
}

.Counter {
  font-family: sans-serif;
}

.LeftPanel {
  height: 100%;
}
