.App-content {
  padding-top: 60px;
  z-index: -1;
}

/* hide editor scrollbar and tab list active selector while dragging */
.Split.is-dragging .Editor .decorationsOverviewRuler, .Split.is-dragging [data-anypoint-component="TabList"] > div {
  display: none !important;
}

.Counter {
  font-family: sans-serif;
}