.App-content {
  padding-top: 60px;
}

.menu {
  height: 35px;
  padding-right: 20px;
  border-bottom: 2px solid rgba(39,47,51,.1);
}

/* hide editor scrollbar and tab list active selector while dragging */
.Split.is-dragging .Editor .decorationsOverviewRuler, .Split.is-dragging [data-anypoint-component="TabList"] > div {
  display: none !important;
}

.Counter {
  font-family: sans-serif;
}