@import "../../variables.scss";

.api-designer-console.angular-container {
  font-family: $large-font;
}

.angular-container {

  .raml-console-title {
    font-size: 26px;
    text-align: left;
    padding-left: 4px;
  }

  .raml-console-resource-root {
    min-height: 45px;
  }

  .raml-console-toggle-all {
    margin-top: 30px;
  }

  .raml-console-resource-section-title {
    font-size: 17px;
  }

  .raml-console-has-sidebar-collapsed .raml-console-resource-panel-primary {
    overflow: auto;
  }

  .raml-console-resource-panel-primary-row {
    padding: 10px;
  }

  .raml-console-resource-panel-primary-row .raml-console-response-container {
    padding-top: 10px !important;
  }

  .raml-console-documentation-header,
  .raml-console-documentation-active .raml-console-document-header {
    background: #f4f5f6;
    border-color: transparent;
  }

  .raml-console-resource-heading {
    font-size: 14px;
  }

  .raml-console-resource-list-root, .raml-console-resource {
    border-color: #e5e6e7;
    margin-top: 0;
  }

  .raml-console-resource {
    padding-left: 25px;
  }

  .raml-console-flag,
  .raml-console-documentation-security-scheme .raml-console-documentation-scheme {
    border: none;
    border-radius: 0;
    background-color: #eee;
  }

  .raml-console-tab-list {
    position: relative;
    padding-left: 0;
    flex-wrap: wrap;
  }

  .raml-console-resource.raml-console-is-active {
    border: none;
    background: #ddd;
  }

  .raml-console-resource-close-btn:before {
    top: -5px;
    right: 3px;
  }

  .raml-console-resource-path-container {
    padding: 15px 0 0 0;
  }

  .raml-console-tab-label {
    font-size: 11px;
    padding-top: 4px;
  }

  .raml-console-tab-label::before {
    left: 0;
    right: 0;
    top: 3px;
    bottom: -4px;
    width: auto;
    height: auto;
    border-radius: 0;
    transform: none;
    -webkit-transform: none;
    -moz-webkit-transform: none;
    -ms-webkit-transform: none;
  }

  .raml-console-tab-get::before {
    background: #62bee0;
  }

  .raml-console-tab-post::before {
    background: #54ad9f;
  }

  .raml-console-tab-delete::before {
    background: #f17070;
  }

  .raml-console-tab-patch::before {
    background: #6785da;
  }

  .raml-console-tab-put::before {
    background: #85639a;
  }

  .raml-console-tab.raml-console-is-active .raml-console-tab-label::before {
    background-color: #fafafa;
  }

  .raml-console-tab {
    width: 90px;
    height: 20px;
    margin: 0 -15px 0 0;
  }

  .raml-console-resource-level-description {
    margin-top: 0;
  }

  .raml-console-resource-heading-a {
    font-size: 14px;
  }

  ol.raml-console-resources-container-no-title {
    margin-top: 0;
  }

  .raml-console-resource-section {
    margin-top: 20px;
  }

  .raml-console-resource-panel-primary,
  .raml-console-resource-response .raml-console-flag,
  .raml-console-resource-btn {
    font-size: 14px;
  }

  .raml-console-response-container {
    min-height: 0;
  }

  .raml-console-resource-panel {
    min-height: 0;
    border: none;
  }

  h3.raml-console-resource-heading {
    display: inline-flex;
    flex-wrap: wrap;
    margin-right: 0;
  }
}

.angular-container .raml-console-resource.raml-console-is-active .raml-console-resource-path-active,
.angular-container .raml-console-documentation-active .raml-console-resource-path-active,
.angular-container .raml-console-resource.raml-console-is-active button,
/*.angular-container .raml-console-resource.raml-console-is-active span*/
.api-designer-console .raml-console-sidebar-controls .raml-console-collapse .raml-console-discoverable
{
  color: black;
}

.api-designer-console.angular-container .raml-console-marked-content p,
.api-designer-console.angular-container .raml-console-resource-panel-primary p {
  font-size: 13px;
}

@media only screen and (min-width: 960px) {
  .angular-container.api-designer-console .raml-console-sidebar-content {
    min-width: 0;
  }
}