@import "../../variables.scss";

.new-file {

  .new-file-name, .selected-fragment {
    padding-top: 10px;
  }

  .fragment-type {
    position: relative;
  }

  .fragment-type .info-small-icon {
    position: absolute;
    right: -24px;
    top: 23px;
  }
}