.Preview {

  margin-left: 20px;

  .No-preview {
    text-align: center;
    color: #cacbcc;
    padding-top: 10px;
  }

  .md-preview pre {
    padding: 5px 8px;
    border: 1px solid #c6cada;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 3px;
    font-family: Source Code Pro, monospace;
    font-size: 14px;
  }

  .json-preview {
    /* Makes the arrow from the tree looks blackish */
    li > div > div {
      color: #c8c9ca !important;
    }

    > ul {
      background: transparent !important;
    }

    li > div ~ span {
      color: #bbbbbb !important;
    }
  }
}