.Mock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 10px;

  > small {
    color: #3c4b65;
    padding-right: 5px;
    font-size: 11px;
    align-self: center;
  }

  > div {
    display: inline-block;
  }
}