@import "../../variables.scss";

.consume-api-modal {
  font-family: $large-font;
  width: 800px;

  .consume-api-body {
    padding-top: 0;
    margin-top: 10px;
  }

  .search-panel {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 11;
  }

  .consume-api-content {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .fragment {
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-between;
  }

  .fragment.odd {
    background-color: #f4f5f6;
    border-color: #b7bbbf;
  }

  .fragment-left {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    flex-basis: 400px;
    flex-shrink: 0;
  }

  .fragment-left > *, .fragment-mid > *, .fragment-right > * {
    padding-bottom: 5px;
  }

  .fragment-left > :first-child, .fragment-mid > :first-child, .fragment-right > :first-child {
    padding-top: 20px;
  }

  .fragment-left > :last-child, .fragment-mid > :last-child, .fragment-right > :last-child {
    padding-bottom: 20px;
  }

  .fragment-mid {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
  }

  .fragment-right {
    padding-right: 10px;
  }

  .fragment-title {
    font-weight: bolder;
    font-size: 18px;
  }

  .fragment-description, .amount-of-rating {
    font-size: 14px;
  }

  .fragment-rating div {
    font-size: 1em !important;
  }

  .rating {
    display: inline-flex;
  }

  .amount-of-rating {
    padding: 4px;
  }

  .search-spinner {
    min-height: 140px;
    margin-top: 60px;
    margin-left: 45%;
  }

  .error-zone {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 35px;
  }

  .search-footer {
    display: inline-flex;
    justify-content: flex-end;
    min-height: 75px;
  }

  .small-spinner {
    display: flex;
    min-height: 80px;
    justify-content: center;
    align-items: center;
  }
}