@import "../app/App.scss";

.App-header {
  background-color: #272f33;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  height: 60px;
  display: inline-flex;
  z-index: 1;
}

.Left-header {

  display: inline-block;
  height: 100%;
  background: url('assets/BackgroundAngle.svg') no-repeat;
  color: #f9f9f9;

  > div {
    display: inline-block;
    margin-left: 16px;
    position: relative;
    top: 12px;
  }

  > h2 {
    display: inline-block;
    margin: 0 0 0 16px;
    font-size: 20pt;
    position: relative;
    top: 1px;
    font-weight: normal;
    font-family: $large-font;
  }
}

.HeaderOptions {
  display: inline-flex;
  flex-grow: 1;
  align-self: center;
  justify-content: flex-end;

  .Spinner {
    display: inline-flex;
    flex-grow: 1;
    align-self: center;
    justify-content: flex-end;
    margin-right: 10px;
  }
}

.Right-header {
  display: flex;
  height: 100%;
  float: right;
  align-items: center;
  align-content: center;
  justify-content: flex-end;

  > * {
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
    width: 20px;
  }

  > :first-child {
    margin-left: 20px;
  }

  > :last-child {
    margin-right: 20px;
    margin-top: 2px;
  }

  .export-menu {
    margin-top: 1px;
  }
}