.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-family: DIN Pro, sans-serif;
}

.App-header h2 {
  margin: 0;
  display: inline-block
}

.App-header .Spinner-parser {
  float: right;
  margin: 3px;
}
