.App-header {
  background-color: #272f33;
  color: white;
  font-family: DIN Pro, sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  height: 60px;
  display: inline-flex;
  z-index: 1;
}

.App-header .Spinner-parser {
  display: inline-flex;
  flex-grow: 1;
  align-self: center;
  justify-content: flex-end;
  margin-right: 30px;
}

.Left-header > span {
  margin-left: 16px;
  position: relative;
  top: 12px;
}

.Left-header > h2 {
  display: inline-block;
  margin: 0 0 0 16px;
  font-size: 20pt;
  position: relative;
  top: 1px;
  font-weight: normal;
}

.Left-header {
  display: inline-block;
  height: 100%;
  background: url('assets/BackgroundAngle.svg') no-repeat;
  color: #f9f9f9;
}

.Right-header {
  display: flex;
  height: 100%;
  float: right;
  background: black;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}

.Right-header > * {
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
  width: 20px;
}

.Right-header > :first-child {
  margin-left: 20px;
}

.Right-header > :last-child {
  margin-right: 20px;
  margin-top: 2px;
}

.divider {
  stroke: #595959;
  stroke-width: 1;
  cursor: auto;
}

.export-menu {
  margin-top: 1px;
}