@import "../../variables.scss";

.App-content .menu {
  padding-right: 17px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;

  margin-bottom: 2px;
  color: #58595a;
  height: 50px;
  background-color: #e8e9ea;

  .menu-name {
    font-family: $large-font;
    font-size: 18px;
  }

  .context-menu-icon > svg, .plus-icon > svg {
    display: block;
    height: 20px !important;
    width: 20px !important;
  }

  .context-menu, .add-menu {
    float: right;
    cursor: pointer;
  }

  .add-menu > span > div {
    margin: 0 5px 0 0;
  }
}