.f-no-select, .m-tree {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.m-tree {
  position: relative;
  overflow: hidden;
  padding: 2px 5px
}

.m-draggable {
  position: absolute;
  opacity: .8;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.m-node.placeholder > * {
  visibility: hidden
}

.m-node.placeholder {
  border: 1px dashed #ccc
}

.m-node .inner {
  position: relative;
  cursor: pointer;
  padding-left: 8px
}

.m-node .collapse {
  position: absolute;
  left: 0;
  cursor: pointer;
  display: inline-block;
  padding-top: 3px;
}

.m-node .caret-right:before {
  color: #9da5b4;
  content: "\25B8"
}

.m-node .caret-down:before {
  color: #9da5b4;
  content: "\25BE"
}

.m-node.placeholder {
  border: 1px dashed #1385e5
}

.m-node .inner {
  /*color: #9da5b4;*/
  font-size: 12px;
  font-family: Menlo
}

.m-node .node {
  display: inline-block;
  width: 100%;
  padding: 4px
}

.m-node .node.is-active {
  background-color: #ddd;
  font-weight: bold;
}

/*hide root node*/
.m-tree > .m-node > .inner {
  display: none;
}
.m-tree > .m-node > .children {
  padding-left: 0 !important;
}
