.publish-api-modal {
  font-family: DIN Pro, sans-serif;
}

.publish-api-modal label.required:after {
  content: ' (required)';
  color: gray;
}

.publish-api-modal .error {
  color: #d9534f;
  padding-top: 5px;
}

.publish-api-modal .form-row > div {
  margin-top: 2px;
  margin-bottom: 15px;
}

.publish-api-modal div > .form-row:last-child > div {
  padding-bottom: 0;
}

.publish-api-modal .tags {
    display: flex;
}

.publish-api-modal .tags > .tag-name {
    width: 80%;
}

.publish-api-modal .tags > .save-tag-button {
    margin-left: 20px;
}