@import "../../variables.scss";

.publish-api-modal {
  font-family: $large-font;

  label.required:after {
    content: ' (required)';
    color: gray;
  }

  .fetching {
    display: flex;
    align-items: center;
    flex-direction: column;
    span {
      padding: 30px;
    }
  }

  .error {
    color: #d9534f;
    padding-top: 5px;
  }

  .answer {
    color: green;
    padding-top: 5px;
  }

  .form-row > div {
    margin-top: 2px;
    margin-bottom: 10px;
  }

  .form-row {
    display: flex;
  }

  .large-col {
    width: 100%;
  }

  .form-col {
    display: inline-block;
    width: 50%;
  }

  .form-col:first-child {
    padding-right: 10px;
  }

  .form-col:last-child {
    padding-left: 10px;
  }

  div > .form-row:last-child > div {
    padding-bottom: 0;
  }

  .tags {
    display: flex;
    justify-content: space-between;
  }

  .tags > .tag-name {
    width: 100%;
  }

  .pills {
    max-width: 600px;
    .pill {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .tags > .save-tag-button {
    margin-left: 20px;
  }

  .search-spinner {
    min-height: 140px;
    margin-top: 60px;
    margin-left: 40%;
  }

  h3 {
    margin-top: 25px;
    margin-bottom: 0;
  }

  .error-container > div:first-child > h3,
  .partial-answers > div:first-child > h3 {
    margin: 0;
  }

  .error-container, .partial-answers {
    margin-bottom: 15px;
  }

  .publish-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  textarea {
    height: 52px !important;
    padding: 5px 10px !important;
  }
}

div[data-anypoint-component="Modal"].publish-api-modal {
  min-width: 550px;
}