.error {
  color: #d9534f;
  padding-top: 5px;
}

.publish-api-modal {
  font-family: DIN Pro, sans-serif;
}

.form-row > div {
  padding-top: 10px;
  padding-bottom: 10px;
}

div > .form-row:last-child > div {
  padding-bottom: 0;
}