body {
  margin: 0;
  padding: 0;
}

/** Overrides anypoint-styles.css small font */
html {
  font-size: 100%;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

div[data-anypoint-component="Modal"] {
  min-width: 400px;
}