@import "../../app/App.scss";

.import-modal {

  .input-file {
    margin-top: 15px;
  }

  min-width: 400px !important;

  .import-url, .import-file {
    margin-top: 15px;
  }

  .input-type {
    position: relative;
  }

  .input-type .info-small-icon {
    position: absolute;
    right: -24px;
    top: 13px;
  }

  .error-zone {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .import-error {
    > span {
      top: 18px;
    }
    
    > button > div {
      padding-right: 25px;
    }
  }
}

.Popover-in-modal {
  background-color: #272f33;
  color: #fff;
  font-family: $large-font;
  font-size: 13px;
  padding: 7px 10px;
  max-width: 310px;
}

.Popover-in-modal a {
  color: #fff;
  padding-left: 5px;
}

div[data-reactroot] > .rc-trigger-popup {
  z-index: 2000
}