.Tree-loading {
  padding: 10px;
  font-size: 14px;
  font-weight: 200;
}

.Tree .tree-leaf {
    width: 100%;
}

.Tree .tree-node {
    padding-top: 10px;
    padding-bottom: 10px;
}

.Tree .tree-node .file-menu, .Tree .tree-node .folder-menu, .Tree .tree-node .new-menu {
    display: none;
}

.Tree .tree-node:hover .file-menu, .Tree .tree-node:hover .folder-menu, .Tree .tree-node:hover .new-menu {
    display: inline-block;
}

.Tree .file-menu, .Tree .folder-menu {
    float: right;
    cursor: pointer;
    padding-right: 4px;
}

.Tree .new-menu {
    float: right;
    cursor: pointer;
    padding-right: 9px;
}

.Tree .file-menu-icon > svg, .Tree .folder-menu-icon > svg, .Tree .plus-icon > svg {
    display: block;
    height: 14px !important;
    width: 14px !important;
}
